.inputs {
    font-size: medium;
    border: none;
    background: transparent;
    margin-left: 10px;
    margin-top: 10px;
}

.button {
    background-color: #2c524e;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
    font-size: larger;
    font-weight: bolder;
}

.button:hover {
    background-color: #41AEA9;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-size: larger;
    font-weight: bolder;
    transform: translate(-1px, -1px);
    transition: 0.2s;
}